<div class="card mt-4">
  <%= image_tag @ad.picture.url(:large), class: "card-img-top img-fluid"%>
  <div class="card-body">
    <h3 class="card-title"><%= @ad.title%></h3>
    <h4><%= humanized_money_with_symbol @ad.price %></h4>
    <p class="card-text">
      <%= @ad.description.html_safe%>
    </p>
    <p>
      <%= rating_for @ad, "quality" %>
    </p>
  </div>
</div>
<br/>
<div class="well">

<% if member_signed_in? %>
  <div class="text-right">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-lg btn-success" data-toggle="modal" data-target="#myModal">
      Adicionar um comentário
    </button>
  </div>
<% else %>
  <div class="text-right">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-lg btn-success" disabled="disabled" data-toggle="modal" data-target="#myModal">
      Adicionar um comentário
    </button>
  </div>
<% end %>

  <%= render partial: "site/ad_detail/comments" %>
</div>

<%= render partial: "site/ad_detail/modal_comments" %>
