<div class="card mt-4">
  <%= image_tag @ad.picture.url(:large), class: "card-img-top img-fluid"%>
  <div class="card-body">
    <h3 class="card-title"><%= @ad.title%></h3>

    <h4><%= humanized_money_with_symbol @ad.price %></h4>
    <% if member_signed_in? %>       
        <%= link_to "Comprar", checkout_payments_path, class: "btn btn-primary btn-lg btn-success", 
        data: {confirm:'Deseja realmente comprar esse produto ?'}, method: :post %>
    <% else %>
        <%= link_to "Efetuar Login para comprar", new_member_session_path, class: "btn btn-primary btn-lg" %>
    <% end %>
    <p class="card-text">
      <%= @ad.description.html_safe%>
    </p>
    <p>
      <div class="well well-sm">
        <div class="ratings">
          <p class="pull-right"> <%= @ad.rates('quality').count %> Avaliações </p>
          <%= rating_for @ad, "quality" %>
        </div>
      </div>
    </p>
  </div>
</div>
<br/>
<div class="well">

<% if member_signed_in? %>
  <div class="text-right">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-lg btn-success" data-toggle="modal" data-target="#myModal">
      Adicionar um comentário
    </button>
  </div>
<% else %>
  <div class="text-right">
    <%= link_to "Efetuar Login", new_member_session_path, class: "btn btn-primary btn-lg btn-success" %>
  </div>
<% end %>

  <%= render partial: "site/ad_detail/comments" %>
</div>

<%= render partial: "site/ad_detail/modal_comments" %>
